/* override css styles of the main theme here */

.nav-fyrirollx a {
    text-transform: lowercase;
	font-size: 100%;
    font-style: italic;
    !important;
}

.nav-fyrirollx a ::after {
    content: " x";
	vertical-align: top;
    font-weight: bold;
	color: black
}

p.smallfont {
	font-style: italic;
	font-size:80% !important; 
}

em.normal {
	font-style: normal !important;
}

